<p>directive works!</p>
<!-- use of *ngIf -->
<h1 *ngIf="isCond1" [ngStyle]="myStyle">Use of *ngIf Directive with cond1</h1>
<h1 *ngIf="isCond2">Use of *ngIf Directive with cond2</h1>
<div *ngIf="isCond3;then truepart;else falsepart"></div>


<ng-template #truepart>
    this is True part
</ng-template>
<ng-template #falsepart>
    this is False part
</ng-template>

<hr>

<!-- use of *ngFor -->
 <ul>
    <li *ngFor="let course of courses" [ngClass]="myClass">{{course}}</li>
 </ul>
 <hr>
 <!-- use of *ngSwitchCase -->
  <div [ngSwitch]="myCourse">
    <div *ngSwitchCase="'React'">You have selected React</div>
    <div *ngSwitchCase="'Angular'">You have selected Angular</div>
    <div *ngSwitchCase="'Python'">You have selected Python</div>
    <div *ngSwitchCase="'Dotnet'">You have selected Dotnet</div>
    <div *ngSwitchCase="'Java'">You have selected Java</div>
    <div *ngSwitchDefault>Invalid choice</div>
  </div>

  <div [ngSwitch]="myCourse">
    <div *ngFor="let course of courses">
        <div *ngSwitchCase="course" [ngStyle]="myStyle">you have selected {{course}}</div>
    </div>
    <div *ngSwitchDefault>Invalid choice</div>
  </div>