.block{
    border: solid, 2px, red;
    width: 20%;
    height: 100px;
    padding: 5px;
    float: left;
}

*{
    box-sizing: border-box;
}


header{border-bottom: 5px solid;
    background-color: aqua;
    height: 100px;
}

@media screen and (max-width:1200px){
    header{
        background-color: red;
    }
}
@media screen and (max-width:992px){
    header{
        background-color: yellow;
    }
}
@media screen and (max-width:768px){
    header{
        background-color: orange;
    }
}
@media screen and (max-width:576px){
    header{
        background-color: rgb(0, 255, 149);
    }
}