<p>productdash works!</p>


<a herf="" routerLink="/maindashboard/productadd" class="btn btn-info">productadd</a>&nbsp;
<table class="table table-hover table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Company</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productArray , let i = index"  >
            <td>{{i+1}}</td>
            <td>{{product.pname}}</td>
            <td>{{product.pprice}}</td>
            <td>{{product.pcompany}}</td>
            <td>{{product.pquantity}}</td>
            <td>
                <a herf="" [routerLink]="['/maindashboard/productedit',product.id]" class="btn btn-outline-success">Edit</a>&nbsp;
                <button type="button"(click)="deleteData(product.id)" class="btn btn-outline-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>