<p>mypipes works!</p>
<div>{{msg}}</div>
<!-- string pipe -->
 <div>{{msg | uppercase}}</div>
 <div>{{msg | lowercase}}</div>
 <div>{{msg | titlecase}}</div>
 <div>{{msg | slice:5}}</div>
 <div>{{msg | slice:5:20}}</div>
 <!-- json pipe -->
 <div>{{emp | json}}</div>
 <!-- number pipe -->
 <div>{{0.567|number}}</div>
 <div>{{0.567|number:'3.3-5'}}</div>
 <div>{{0.567|number:'3.4-5'}}</div>
 <div>{{0.567|number:'3.1-2'}}</div>
 <!-- currency -->
 <div>{{100|currency}}</div>
 <div>{{100|currency:'GBP'}}</div>
 <div>{{100|currency:'INR'}}</div>
 <!-- date -->
  <div>{{dateObj}}</div>
  <div>{{dateObj | date}}</div>
  <div>{{dateObj | date:'shortDate'}}</div>
  <div>{{dateObj | date:'longDate'}}</div>
  
  <hr>

  <div>
    {{6 |cube}}
  </div>